#thirsttFrame {
	width: 100%;
	z-index:2147483635; 
	position:absolute; 
	top: 0px;
	left: 0px;
	box-shadow: 3px 3px 5px  #bdbdbd; 
	background-color: #ffffff;
	margin: 0px;
	padding-bottom: 200px;

	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.2s ease;
  	-moz-transition: all 0.2s ease;
  	-ms-transition: all 0.2s ease;
  	-o-transition: all 0.2s ease;
  	transition: all 0.2s ease;
}

	#thirsttFrame.on {
		visibility: visible;
		opacity: 1.0;
	}

#closeBtn_thirstt {
	float: right;
	margin: 20px 30px 0px 0px;
	font-weight: bold;
	opacity: 0.6;
}

	#closeBtn_thirstt:hover {
		opacity: 0.8;
		cursor: default;
	}

#articleContent {
	margin-top: 30px;
	margin: 0px;
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 1.3rem;
	line-height: 225%;
	color: black;
	padding: 5px 5px 5px 5px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
	
	#articleContent p, #articleContent a, #articleContent img, #articleContent iframe{
		font-family: Georgia, 'Times New Roman', serif;
		font-size: 1.3rem;
		padding: 5px 60px 5px 5px;
		border: 2px dashed #ffffff; 
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}

	#articleContent a {
		color: #018f76;
		padding: 0px;
	}

#articleTitle {
	width: 90%;
	font-weight: bold;
	font-size: 2rem;
	border-bottom: 1px solid #d2d2d2;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

#loading {
	font-size: 1.2rem;
	padding-left: 20px;
	padding-top: 12px;
	margin-top: 20px;
	margin-left: 10px;
	float: left;
	width: 60%;
	-webkit-transition: all 0.2s ease;
  	-moz-transition: all 0.2s ease;
  	-ms-transition: all 0.2s ease;
  	-o-transition: all 0.2s ease;
  	transition: all 0.2s ease;

  opacity: 0.7;
}
	#loading.inactive {
	  opacity: 0.0;
	}


#logoThirstt {
	float: left;
	height: 50px;
	width: 50px;
	margin: 20px 0px 0px 40px;
	box-shadow: 0px 0px 0px;
}

#article_t{
	margin: 50px auto 40px auto;
	padding: 60px 10px 20px 10px;
	width: 70%;

	-webkit-box-sizing: border-box;

	z-index:2147483636; 
	font-family: Georgia,"Times New Roman",serif;

	webkit-transition: all 0.3s ease;
  	-moz-transition: all 0.3s ease;
  	-ms-transition: all 0.3s ease;
  	-o-transition: all 0.3s ease;
  	transition: all 0.3s ease;

  opacity: 0.0;
  visibility: hidden;
  height: 0px;

  border-bottom: 2px solid #bdbdbd;
}
	
	#article_t.active{
		opacity: 1.0;
		height: auto;
		visibility: visible;
		margin-bottom: 100px;
	}

#clipper{
	padding: 0px;
	z-index:2147483637; 
	position: fixed;
	margin: 0px;
	webkit-transition: all 0.2s ease;
  	transition: all 0.2s ease;

  	height: 30px;
  	width: 30px;

  	background-image:url('http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/512/Rock-Paper-Scissors-Scissors-icon.png');
  	background-repeat:no-repeat;
  	background-position: center; 
  	background-size: 25px 25px;

  	font-weight: 600;
  	opacity: 0.0;
  	font-size: 0.9rem;
  	cursor: default;

  	visibility: hidden;
}
	
	#clipper.active{
		opacity: 0.7;
		visibility: visible;
	}

	#clipper.scrolled{
		opacity: 0.2;
		visibility: visible;
	}

	#clipper.active:hover, #clipper.scrolled:hover{
		opacity: 1.0;
	}

#login{
	margin-left: 60px;
	opacity: 0.0;
	visibility: hidden;
	z-index:2147483637;
	webkit-transition: all 0.2s ease;
  	-moz-transition: all 0.2s ease;
  	-ms-transition: all 0.2s ease;
  	-o-transition: all 0.2s ease;
  	transition: all 0.2s ease;
}

	#login.active{
		opacity: 1.0;
		visibility: visible;
	}

#inputPassword{
	margin-left: 10px;
}

#loginBtn{
	padding: 10px;
	background-color: #00bd9c;
	box-shadow: 1px 1px 2px #bdbdbd;
	width: 100px;
	margin-top: 10px;
	text-align: center;

	color: white;

	webkit-transition: all 0.2s ease;
  	-moz-transition: all 0.2s ease;
  	-ms-transition: all 0.2s ease;
  	-o-transition: all 0.2s ease;
  	transition: all 0.2s ease;
}

	#loginBtn:hover{
	background-color: #00a185;
	cursor: default;
	}

#register{
	margin-top: 20px;
}
	
#registerLink{
	margin-top: 10px;
	color: #00bd9c;
	webkit-transition: all 0.2s ease;
	font-weight: bold;
}

#registerLink:hover{
	color: #00a185;
	cursor: default;
}

#articleContent ::selection{
	color: #00bd9c;
	background-color: #ffffff;
	border: 1px solid black;
}

#clipIcon {
	height: 25px;
	width: 25px;
}

#articleContent p.highlighted, #articleContent a.highlighted, #articleContent img.highlighted, #articleContent iframe.highlighted{
	border: 2px dashed #00bd9c;
}

#clipStatus {
	position: relative;
	left: 30px;
	background-color: #ffffff;
	height: auto;
	min-width: 100px;
	overflow: hidden;
	text-align: center;
	font-family: Helvetica, Verdana;
	box-shadow: 3px 3px 5px  #bdbdbd;
	color: #8f8f8f;

	padding: 10px;
	opacity: 0.0;
	webkit-transition: all 0.2s ease;
  	-moz-transition: all 0.2s ease;
  	-ms-transition: all 0.2s ease;
  	-o-transition: all 0.2s ease;
  	transition: all 0.2s ease;

  	font-weight: bold;
}

	#clipStatus.active {
		opacity: 1.0;
	}

#clipStatus_context {
    position: fixed;
    background-color: #ffffff;
    height: auto;
    width: 350px;
    overflow: hidden;
    font-family: Helvetica, Verdana;
    box-shadow: 0px 0px 10px  #bdbdbd;
    color: #8f8f8f;
    right: 30px;
    top: 30px;

    z-index:2147483637; 

    padding: 15px;
    padding-bottom: 20px;
    opacity: 0.0;
    visibility: hidden;

    webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
    #clipStatus_context.active {
        opacity: 1.0;
        visibility: visible;
    }

    #logoThirsttContext {
        float: left;
        height: 40px;
        width: 40px;
        margin: 8px 0px 0px 10px;
    }

    #contextText {
        font-family: Helvetica, Verdana;
        font-weight: bold;
        color: #8f8f8f;
        float: left;
        margin: 18px 0px 0px 15px;
    }

    #contextContent {
        font-family: Helvetica, Verdana;
        color: #00bd9c; 
        margin-top: 70px;
        border: 2px dashed #00bd9c;
        padding: 10px;
        overflow: hidden;
    }

    #contentImage {
    	margin: 0px auto 0px auto;
    }